<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{__${_layout ?: 'layout/tabler-main'}__ :: html(
        title='Пороги оповещений',
        content=~{::content},
        scripts=~{::scripts},
        styles=~{::styles},
        pageTitle='Пороги оповещений',
        pageActions=~{::pageActions}
      )}">
<head><title>Пороги оповещений</title></head>

<th:block th:fragment="styles">
    <style>
        .page-wrapper { background: #080b10 !important; }
        #alert-settings-root { min-height: calc(100vh - 120px); }
    </style>
</th:block>

<th:block th:fragment="pageActions">
    <a th:href="@{/zoomos}" class="btn btn-sm btn-outline-secondary">← Назад</a>
</th:block>

<div th:fragment="content">
    <div id="alert-settings-root"></div>
</div>

<th:block th:fragment="scripts">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="/react/zoomos-check/alert-settings-cdn.js"></script>
</th:block>
</html>
